node_modules/
.git/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.DS_Store
android/
ios/
Dockerfile
docker-compose.yml
docker-compose.override.yml
745fc364-117b-11ee-b7ec-9f18a8a356e0.jsonZone.Identifier